*{
    font-family: 'Staatliches', cursive;
}
body{
    background-image: url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
header{
    text-align: center;
}
h1{
    font-family: 'Staatliches', cursive;
    color: black;

}
h2{
    font-size: 20px;
}
nav{
    background-color: rgb(255, 245, 245, .5); 
    text-align: left;
    border-radius: 10px;
    margin: 0 0 40px;
}
article{
    background-color: rgb(255, 245, 245, .5); 
    font-family: 'Staatliches', cursive;
    color: rgb(0, 0, 0);   
    border-radius: 10px;
    text-align: left;
    margin: 0 0 40px;
}
.article-title{
    display: flex;
    text-align: center;
}
.inside-article{
    margin: 10px;
    text-align: center;
    display: flex;
}
p{
    margin: 10px;
}
ul{
    font-size: 20px;    
    list-style: none;
}